.img-detail{
    width: 100%;
    filter: grayscale();
}
.card-detail li{
    font-weight: 300;
}
.card{
    height: 100%;
}
.card-header{
    background-color: transparent;
}
.card-footer{
    background-color: transparent;
}