footer{
    background-color: rgb(6, 6, 6);
    margin-bottom: -10%;
    margin-top: 10%;
    padding:20px;
    height:500px;
    position: relative;
    clear: both;
}
footer  {
    color:rgb(139, 41, 41);
}
.footer-info{
  height: 150px;

 padding-top:5%;
}
.footer-info p{
    font-size: 12px;
    line-height:10px;
    font-weight: 400;
    color: rgb(136, 142, 142);
    text-align: center;
    padding:4px;

}
.copy-reg{
    color: rgb(102,103,103);
}
.footer-info ul li{
    list-style: none;
    text-align: center;
    font-weight: 100;
    font-size: 12px;
}

.footer-info .row div h4{
    text-align: center;
    font-size: 18px;
}
#ht-footer{
    border: 5px solid rgb(231, 228, 228);
}
