#img-detail{
    height:600px;
    width: 100%;
    filter : grayscale(90%);
    background-image: url('../../public/water-heater.jpg');
    background-size: cover;
}
#text-desc{
    align-content: baseline;
    vertical-align: baseline;
}
.text-desc{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Roboto Mono', monospace; */
    font-weight: 100;
    font-size: 20px;
}