.container-maps{
    z-index: 999999999999999999999999999999999;
    width:100%;
    position: relative;
}

MapContainer{
    width: 600px;
    z-index: 1;
}
.parent-map{
    position: relative;
    overflow: hidden;
 
}