.boxCategory{
    width: 100px;
    padding:2px;
    margin:5px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid rgb(161, 158, 158);
    border-radius: 8px;
}

.boxCategory:hover{
    background-color: rgb(230, 123, 17);
    color:white;
}

.boxCategory p{
    font-size: 10px;
    margin: auto;
}

