nav {
    background-color: transparent;
   color: rgb(85, 81, 81);
    z-index: 999;
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding:5px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin:10px 10px 0px 10px;
    font-size: 14px;
    padding:0px 3px ;
}

nav ul li:hover{
    /* background-color: aqua; */
    border-radius: 8px;
    border:1px solid rgb(50, 54, 50);
    cursor: pointer;
}

.logo{
    width:50px;
    height:50px;
    border-radius: 35px;
}
.title-logo{
    font-size: 12px;
    margin-left: 5px;
}

.navbar-toggler{
    display: none;
}

@media (max-width: 576px) { 

    nav ul li{
        display: none;
    }

    .navbar-toggler{
        display: block;
    }
  
    

}