*{
  font-family: 'Roboto', sans-serif;

}
.App {
  text-align: center;
  margin:0;
  padding:0;
  position: relative;
}
.App .container{
  position: relative;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#body{
  
  min-height: 450px;
}

#body section{
  height:300px;
}

#body .container{
  position: relative;
}

.image-product{
  width:200px;
  height:auto;
}

.section-content{
  height: 400px;

}

.page-top{
  margin-top: 50px;
  display: block;
  padding: 15px;
}
.content-body{
  height: 400px;
}

.discover-product{
  /* font-optical-sizing: 1000px; */
  font-weight: 900;
  font-size: 89px;
  font-family: 'Monsterat';
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 576px) { 
  .discover-product{
    font-size: 42px;  
  }
}
